
<h3>Multiple selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
    <mat-select-trigger>
    {{bankMultiCtrl.value[0].name }}
    <span *ngIf="(bankMultiCtrl.value?.length || 0) > 1" class="example-additional-selection">
    (+{{(bankMultiCtrl.value?.length || 0) - 1}} {{bankMultiCtrl.value?.length === 2 ? 'other' : 'others'}})
  </span>
  </mat-select-trigger>
      <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
      <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiCtrl?.value">
  <li>{{bank.name}}</li>
</ul>
